<div id="structured_datum_{{ form.getOptions().structured_datum_id }}" class="structured_datum-item">

    {% include "behavior_lab.field_type.struct_data::partials/controls" %}

    <div class="clearfix"></div>

    {% include "behavior_lab.field_type.struct_data::partials/fields" %}

    <div class="structured_datum-body existing">
        {{ form.getContent()|raw }}
    </div>

</div>
